/* Gallery */

.gallery {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	grid-gap: 8px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* .gallery1, .gallery2, .gallery3, .gallery4 {
	border: 4px solid black;
} */

.gallery1 {
	grid-column: 1/2;
}

.gallery2 {
	grid-column: 3/4;
	grid-row: 1/2;
}

.gallery-head {
	/* Center the content in the middle of the parent .gallery div */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background: var(--background-color);
	padding: 5rem 10rem;
	text-align: center;
}

.gallery-category {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	font-size: 2rem;
	padding: 0 2rem;
}

.gallery-category-text {
	opacity: 0;
	color: white;
}

.gallery-category-text:hover {
	opacity: 1;
	transition: all 0.4s ease-in;
}

.treatments {
	min-height: 100%;
}

.treatments-text div {
	padding: 3rem 8rem;
}

.treatment-life h3 {
	padding: 2rem 0;
}
