.main-head {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	/* position: relative fixes the box-shadow issue with background image */
	position: relative;
	z-index: 2;
}

nav {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	min-height: 10vh;
	padding: 2rem 0;
}

#logo {
	flex: 1 1 20rem;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	flex: 1 1 20rem;
}

.burger,
.menu-check {
	display: none;
}
