.main-head {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	/* position: relative fixes the box-shadow issue with background image */
	position: relative;
	z-index: 2;
}

nav {
	width: 100%;
	position: fixed;
	margin: auto;
	display: flex;
	align-items: center;
	padding: 1rem 4rem;
	background: rgba(243, 220, 228, 0.85);
}

#logo {
	flex: 1 1 20rem;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	flex: 1 1 7rem;
}

.burger,
.menu-check {
	display: none;
}
